.forgot-password-container {
  width: 100%;
  max-width: 350px;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(221, 221, 249, 0.075);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.forgot-password-title {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 60px;
  font-size: 30px;
}

.forgot-password-description {
  text-align: center;
  font-size: 20px;
  color: #fff;
  margin-bottom: 40px;
}

.forgot-password-form {
  display: flex;
  flex-direction: column;
}

.forgot-password-input {
  height: 40px;
  border: none;
  background-color: unset;
  border-bottom: 1px solid #fff;
  padding: 0 10px;
  font-size: 16px;
  color: #fff;
  line-height: 2.5;
}

.forgot-password-input:-webkit-autofill,
.forgot-password-input:-webkit-autofill:hover,
.forgot-password-input:-webkit-autofill:focus,
.forgot-password-input:-webkit-autofill:active {
  transition: background-color 36000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}

.forgot-password-input:focus {
  outline: none;
  border-bottom: 2px solid #fff;
}

.forgot-password-input::placeholder {
  color: #bbb;
}

.forgot-password-button {
  height: 40px;
  border: 1px solid #fff;
  background-color: unset;
  color: #fff;
  font-size: 16px;
  border-radius: 6px;
  margin-top: 40px;
  text-shadow: 0 2px 1px #000;
}

.error {
  margin: 0 0 5px 0;
  font-size: 14px;
  background-color: rgb(255, 80, 80);
  color: #fff;
  padding: 7px 10px;
  border-radius: 0 0 6px 6px;
  width: 160px;
  text-align: center;
}

.modal-container {
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: opacity 0.4s;
  padding: 10px;
  min-height: 100vh;
}

.modal-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 500px;
  height: 300px;
  border: 1px solid #fff;
  border-radius: 10px;
}

.modal-description {
  font-size: 20px;
  text-align: justify;
  text-align-last: center;
  margin-bottom: 30px;
  color: #fff;
}

.modal-email {
  font-size: 20px;
  color: #fff;
}

.modal-back-to-login {
  display: flex;
  justify-content: center;
  width: 100%;
  text-decoration: none;
}

.blur-background {
  filter: blur(30px);
}
