.google-login-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  height: 40px;
  font-size: 16px;
  border: 1px solid #fff;
  border-radius: 6px;
  background-color: unset;
  width: 100%;
  max-width: 320px;
}

.google-login-button-container:hover {
  cursor: pointer;
}

.google-login-button-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 100%;
  border-right: 1px solid #fff;
}

.google-login-button-description {
  width: 100%;
  margin-right: 30px;
}
