.login-card-container {
  width: 100%;
  max-width: 350px;
  height: 550px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(221, 221, 249, 0.075);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.login-card-title {
  color: #fff;
  font-size: 36px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.login-card-form {
  display: flex;
  flex-direction: column;
}

.login-card-inputs {
  height: 40px;
  border: none;
  background-color: unset;
  border-bottom: 1px solid #fff;
  padding: 0 10px;
  font-size: 16px;
  color: #fff;
  line-height: 2.5;
}

.login-card-inputs:-webkit-autofill,
.login-card-inputs:-webkit-autofill:hover,
.login-card-inputs:-webkit-autofill:focus,
.login-card-inputs:-webkit-autofill:active {
  transition: background-color 36000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}

.login-card-inputs:focus {
  outline: none;
  border-bottom: 2px solid #fff;
}

.login-card-inputs:nth-child(2) {
  margin-top: 20px;
}

.login-card-inputs::placeholder {
  color: #bbb;
}

.forgot-password {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  color: #aaa;
}

.forgot-password a {
  text-decoration: none;
  color: unset;
}

.logins-separator {
  color: #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.logins-separator::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #aaa;
  margin-right: 10px;
}

.logins-separator::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #aaa;
  margin-left: 10px;
}

.error {
  margin: 0 0 5px 0;
  font-size: 14px;
  background-color: rgb(255, 80, 80);
  color: #fff;
  padding: 7px 10px;
  border-radius: 0 0 6px 6px;
  width: 125px;
  text-align: center;
}
